@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.gradientBg {
  background: linear-gradient(99deg, #DDF2FD 0%, #3682ac 100%);
}

.gradientBgcontact {
  background: linear-gradient(99deg, #5aacd9 0%, #DDF2FD 100%);
}